body {
    background-color: mediumseagreen;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    border: 0;
}

h1 {
    color: cyan;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}
